@mixin before_circle {
    &::before {
        content: '';
        position: absolute;
        left: 0;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background-color: $main-color;
        z-index: -1;
        transition: 1.0s all;
    }
}