.hamburger {
    position: absolute;
    height: 22px;
    width: 36px;
    top: 21px;
    right: 34px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    transition: all 1.0s;
    cursor: pointer;
    span {
        display: block;
        width: 30px;
        height: 3px;
        background: #FFFFFF;
        transition: all 1.0s;
        &:nth-child(2) {
            width: 100%;
        }
    }
    &:hover {
        span {
            width: 100%;
        }
    }
}
