.skills {
    padding-top: 120px;
    &__wrapper {
        margin-top: 60px;
        display: grid;
        grid-template-columns: repeat(4, 270px);
        grid-template-rows: repeat(2, 270px);
        gap: 13px;
    }
    &__item {
        padding: 30px;
        width: 270px;
        height: 270px;
        background: rgba(26, 140, 140, 0.4);
        &_logo {
            position: relative;
            height: 56px;
            width: 100%;
            vertical-align: middle;
            img {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                max-width: 100%;
                max-height: 100%;
            }
        }
        &_title {
            margin-top: 20px;
        }
        &_descr {
            margin-top: 15px;
            font-weight: 500;
            font-style: normal;
            font-size: 12px;
            line-height: 18px;
            color: #ffffff;
        }
    }
   
}