.title {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 60px;
    color: #FFFFFF;
    z-index: 2;
    &_fz14 {
        font-size: 14px;
        line-height: 22px;
    }
    &_fz16 {
        font-size: 16px;
        line-height: 36px;
    }
    &_fz20 {
        font-size: 20px;
        line-height: 30px;
    }
    &_fz36 {
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
    }
    &_fz48 {
        font-size: 48px;
    }
    &__section-title {
        position: relative;
        text-align: center;
        @include before_circle; 
        &:before {
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }
        &:hover {
            &:before {
                opacity: 0.5;
                transition: 1.5s all;
                width: 150px;
                border-radius: 0;
            }
        }
    }
    &__section-subtitle {
        text-align: center;
    }

}